<h2>Liste</h2>
<button *ngIf="isEditing === false" mat-button color="primary" (click)="createTodo($event)">Neue Todo anlegen</button>

<mat-table [dataSource]="todos">
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let todo">
            <button *ngIf="isEditing === false" mat-icon-button color="warn" (click)="deleteTodo(todo)">
              <mat-icon aria-hidden="false" aria-label="Delete Todo">delete</mat-icon>
            </button>
            <button *ngIf="isEditing === false" mat-icon-button color="primary" (click)="editTodo(todo)">
              <mat-icon aria-hidden="false" aria-label="Edit Todo">create</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef> Thema </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.subject }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Gewicht </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.weight }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deadline">
        <mat-header-cell *matHeaderCellDef> Deadline </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.deadline }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.status }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="autor">
        <mat-header-cell *matHeaderCellDef> Autor </mat-header-cell>
        <mat-cell *matCellDef="let todo"> {{ todo.autor }} </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['actions', 'subject', 'description', 'weight', 'deadline', 'status', 'autor']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['actions', 'subject', 'description', 'weight', 'deadline', 'status', 'autor']"></mat-row>
</mat-table>