<h2>Liste</h2>

<mat-table [dataSource]="todos">
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
    <mat-cell *matCellDef="let todo">
      <button mat-icon-button color="warn">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >delete</mat-icon
        >
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >create</mat-icon
        >
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="subject">
    <mat-header-cell *matHeaderCellDef> Thema </mat-header-cell>
    <mat-cell *matCellDef="let todo"> {{ todo.subject }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
    <mat-cell *matCellDef="let todo"> {{ todo.description }} </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row
    *matHeaderRowDef="['actions', 'subject', 'description']"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: ['actions', 'subject', 'description']"
  ></mat-row>
</mat-table>
