<mat-toolbar>
    <span>Todo-Asmus</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button routerLink="/User" routerLinkActive="active">
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <button *ngIf="isAuth" mat-icon-button routerLink="/Todo" routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="isAuth" mat-icon-button aria-label="Logout from your Account" (click)="logout($event)">
        <mat-icon>logout</mat-icon>
    </button>
    <button *ngIf="!isAuth" mat-icon-button routerLink="/Auth" routerLinkActive="active">
      <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>

<div *ngIf="isFetching" class="loading">
    <h2>Loading</h2>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
