body {
    background-color: black !important;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu-spacer {
    flex: 1 1 auto;
}

.loading {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading * {
  color: white;
}
